body{
	width: 100%;
	height: 4774px;
}
.header_section{
	position: absolute;
	width: 100%;
	height: 105px;
	display: flex;
	justify-content: center;
}
header{
	position: absolute;
	width: 1400px;
	height: 105px;
	z-index: 3
}
.header_logo{
    position: absolute;
    width: 100%;    
    top: 48.7px;
    left: 140.92px;
    width:114.91px;
    height:33.99px;
}
.logo_rectangle{
    position: absolute;
    left: 214px; 
    top: 62.5px;
    width: 39px;
    height: 17.5px;
    background-color: #F1A501;
    z-index: -1;
}
.header_nav{
	position: absolute;
	width: 35%;
	height: 25px;
	top: 60px;
	display: flex;
	justify-content: center;
	left: 470px
}
ul{
	width: 100%;
}
@media only screen and (max-width:270px){
    .header_nav{
    	width: 60%
	}
}
.Destinations{
	display: inline;
	width: 100px;
	height: 22px;
	left: 155px
	font-weight:400px;
	font-size: 17px; 
    font-family: 'Roboto', sans-serif;
    z-index: 5;
    cursor: pointer;
}
.Destinations:hover{
	color: #F1A501
}
.Hotels{
    position: absolute;
	display: inline;
	width: 51px;
	height: 22px;
	left: 155px;
	font-weight:400px;
	font-size:17px;
	font-family: 'Roboto', sans-serif
}
.Hotels:hover{
	color: #F1A501
}
.Flights{
	position: absolute;
	display: inline;
	width: 53px;
	height: 22px;
	left: 270px;
    font-family: 'Roboto', sans-serif;
	font-weight:400px;
	font-size:17px;
}
.Flights:hover{
     color: #F1A501
}
.Bookings{
	position: absolute;
	display: inline;
	left: 385px;
	width: 74px;
	height: 22px;
    font-family: 'Roboto', sans-serif;
	font-weight:400px;
	font-size:17px;
}
.Bookings:hover{
	color: #F1A501
}
.Login{
	position: absolute;
	display: inline;
	left: 545px;
	width: 44px;
	height: 22px;
    font-family: 'Roboto', sans-serif;
	font-weight:500px;
	font-size:17px;
}
.Login:hover{
	color: #F1A501
}
.header_button{
	position: absolute;
	width: 102px;
	height: 40px;
	top: 46px;
	margin-left: 1119px;
	border: 1px solid #212832;
	background-color: #FFF1DA;
    font-family: 'Roboto', sans-serif;
	font-weight:500px;
	font-size:17px;
}
.header_button:hover{
	cursor: pointer;
	color: #F1A501
}
li:hover{
	cursor: pointer;
	color: black
}
.EN{
	position: absolute;
	left: 1263px;
	top: 56px;
	width: 23px;
	height: 22px;
    font-family: 'Roboto', sans-serif;
	font-weight:500px;
	font-size:17px;
}
.EN:hover{
	cursor: pointer;
	color: #F1A501
}
.header_vector{
    position: absolute;
    left: 1292.5px;
    top:62.5px ;
    width: 9px;
    height: 4.5px
}
.main_section{
    position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 870px;
}
.decore_wrapper{
    width:1400px;
    height:872.58px;
    overflow: hidden;
}
.header_decore{
	position: sticky;
	top: -105px;
	margin-left: 45%;
	margin-bottom: 10%;
	width:756.31px;
    height:872.58px;
}
.header_eclipse{
	position: absolute;
	border-radius: 50%;
	left: -27%;
    width:478.94px; 
    height:496.86px;
    background-color: #D5AEE4;
    opacity: 30%;
}
.main_section_text{
	position: absolute;
	width: 1400px;
	height: 700px;
}
.main_section_text_heading{
	position: absolute;
	font-size: 20px;
	font-weight: 700px;
	width: 410px;
	height: 30px;
	left: 140px;
	top: 217px;
	color: #DF6951 ;
	font-family: 'Roboto', sans-serif
}
.main_section_text_title{
	position: absolute;
	font-family: 'Volkhov', sans-serif;
	font-size: 84px;
	width: 545px;
	height: 267px;
	left: 140px;
	top: 271px;
	color: #181E4B;
}
.main_section_decore_2{
	position: absolute;
	z-index: -1;
	width: 385px;
	height: 12px;
	left: 350px;
	top: 335px
}
.main_section_description{
	position: absolute;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 500px;
	width: 477px;
	height: 90px;
	left: 140px;
	top: 631px;
	color: #5E6282;
}
.main_section_CTA{
	position: absolute;
	width: 379px;
	height: 60px;
	left: 148px;
	top: 710px
}
.CTA_first_text{
	position: absolute;
	background-color: #F1A501;
	width: 170px;
	height: 60px;
	left: 0px;
	border-radius: 10px;
	box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 18px;
	font-family: 'Roboto', sans-serif
}
.CTA_first_text:hover{
	width: 150px;
	height: 55px;
	cursor: pointer;
	left: 5px;
	top: 5px;
}
.CTA_circle{
	position: absolute;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    left:214px;
    background-color: #DF6951;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3)
}
.CTA_circle:hover{
	width: 46px;
	height: 46px;
	cursor: pointer;
	top: 5px;
}
.CTA_second_text{
	position: absolute;
	width: 92px;
	height: 26px;
	left: 287px;
	color: #686D77;
	top: 17px;
	font-family: 'Roboto', sans-serif
}
.main_section_image{
	position: absolute;
	width: 765px;
	height: 764px;
	left: 550px;
	top: 90px;
}
main{
  width: 100%;
  height: 4420px;
  display: flex;
  justify-content: center;
}
.main_section_2{
	position: absolute;
	width: 1400px;
	height: 525px;
	top: 966px;
	display: flex;
	justify-content: center;
}
.main_section_2_heading{
	position: absolute;
	width: 98px;
	height: 27px;
	top: 8px;
	font-size: 18px;
	color: #5E6282;
	font-weight: 600px;
	font-family: 'Roboto', sans-serif;
	line-height: 
}
.main_section_2_title{
	position: absolute;
	width: 547px;
	height: 65px;
	top: 45px;
	font-family: 'Volkhov', sans-serif;
	font-size: 50px;
	color: #14183E
}
.main_section_2_first_vector_div{
	position: absolute;
	width: 190px;
	height: 227px;
	left: 154px;
	top: 241px;
}
.main_section_2_first_vector_div:hover{
	top: 191px;
	cursor: pointer;
	border-radius: 36px;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 
    0px 20px 13px rgba(0, 0, 0, 0.01), 
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
.main_section_2_first_vector_group{
	position: absolute;
	width: 92px;
	height: 78px;
	left: 53px
}
.main_section_2_first_vector{
	position: absolute;
	width: 66.74px;
	height: 70px;
	z-index: 2
}
.main_section_2_first_vector_rectangle{
	position: absolute;
	width: 50px;
	height: 49px;
	left: 42px;
	top: 29px;
    background-color: #FFF1DA;
	border-radius: 18px 5px 10px;
	z-index: 1
}
.main_section_2_fisrt_vector_text_title{
	position: absolute;
	font-family: 'Open Sans', sans-serif;
	width: 190px;
	height: 27px;
	top: 107px;
	font-size: 20px;
	color: #1E1D4C
}
.main_section_2_fisrt_vector_text_description{
	position: absolute;
	width: 181px;
	height: 78px;
	top: 149px;
	text-align: center;
	color: #5E6282;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 26px;
}
.main_section_2_second_vector_group{
    position: absolute;
    width: 166.87px;
    height: 153.33px;
    left:49.21px;
    top: 1.91px
}
.main_section_2_second_vector_div:hover{
	top: 160px;
	cursor: pointer;
	border-radius: 36px;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 
    0px 20px 13px rgba(0, 0, 0, 0.01), 
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
.main_section_2_second_vector_div{
    position: absolute;
	width: 267px;
	height: 314px;
    top: 201px;
    left: 417px;
    border-radius: 36px;
    background-color: white
}
.main_section_2_second_vector{
	position: absolute;
	left: 33.57px;
	top: 1.5px;
	z-index: 2
}
.main_section_2_second_vector_text_title{
	position: absolute;
	width: 111px;
	height: 27px;
	left: 74px;
	top: 149px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #1E1D4C
}
.main_section_2_second_vector_text_description{
	position: absolute;
	width: 181px;
	height: 78px;
	left: 44px;
	top: 191px;
	color: #5E6282;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 26px;
}
.main_section_2_second_vector_rectangle{
	position: absolute;
	background-color: #FFF1DA;
	border-radius: 18px 5px 10px;
	z-index: -1;
	width: 50px;
	height: 49px;
	left: 96.81px;
	top: 40px;
	transform: rotate(270deg);
	z-index: 1
}
.main_section_2_second_vector_decoration{
	position: absolute;
	width: 100px;
	height: 100px;
	left: -30px;
	top: 240px;
	background-color: #DF6951;
	border-radius: 30px 0px 10px 0px;
    z-index: -1;
}
.main_section_2_second_vector_decoration_wrapper{
    position: absolute;
	width: 267px;
	height: 314px;
    top: 201px;
    left: 417px;
    z-index: -1
}
.main_section_2_third_vector_div:hover{
	top: 191px;
	cursor: pointer;
	border-radius: 36px;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 
    0px 20px 13px rgba(0, 0, 0, 0.01), 
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
.main_section_2_third_vector_div{
	position: absolute;
	top: 241px;
	left: 763px;
	width: 181px;
	height: 229px
}
.main_section_2_third_vector_group{
	position: absolute;
	width: 67px;
	height: 75px;
	left: 66px;
	top: 1.9px
}
.main_section_2_third_vector{
	position: absolute;
	width: 40px;
	height: 69px;
	top: 3px;
	z-index: 1
}
.main_section_2_third_vector_rectangle{
	position: absolute;
	background-color: #FFF1DA;
	border-radius: 18px 5px 10px;
	width: 50px;
	height: 49px;
	z-index: 0;
	transform: rotate(-270deg);
}
.main_section_2_third_vector_text_title{
    position: absolute;
    width: 120px;
    height: 27px;
    left: 29px;
    top: 109px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #1E1D4C
}
.main_section_2_third_vector_text_description{
	position: absolute;
	width: 181px;
	height: 78px;
	top: 151px;
	font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #5E6282;
    line-height: 26px;
}
.main_section_2_fourth_vector_div:hover{
	top: 191px;
	cursor: pointer;
	border-radius: 36px;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 
    0px 20px 13px rgba(0, 0, 0, 0.01), 
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
.main_section_2_fourth_vector_div{
    position: absolute;
    width: 181px;
    height: 216px;
    left: 1062px;
    top: 241px; 
}
.main_section_2_fourth_vector_group{
    position: absolute;
    width: 77px;
    height: 66px;
    left: 63px;
}
.main_section_2_fourth_vector{
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 1
}
.main_section_2_fourth_vector_rectangle{
    position: absolute;
    left: 26px;
    top: 17px;
    background-color: #FFF1DA;
	border-radius: 18px 5px 10px;
	width: 50px;
	height: 49px;
	z-index: 0;
	transform: rotate(-270deg);
}
.main_section_2_fourth_vector_text_title{
    position: absolute;
    width: 140px;
    height: 27px;
    left: 20px;
    top: 96px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #1E1D4C
}
.main_section_2_fourth_vector_text_description{
    position: absolute;
    top: 138px;
  	font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 26px;
    color: #5E6282;
    width: 181px;
    height: 78px
}
.main_section_2_first_decoration{
	position: absolute;
	width: 153px;
	height: 166px;
	right: 0px;
}
.main_section_3{
	position: absolute;
	width: 1400px;
	height: 617px;
    top: 1620px;
	justify-content: center;
}
.main_section_3_heading{
	position: absolute;
	color: #5E6282;
	width: 100px;
	height: 27px;
	left: 632px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 27px;
	font-weight: 600px
}
.main_section_3_title{
	position: absolute;
	font-family: 'Volkhov', sans-serif;
	font-size: 50px;
	line-height: 64.5px;
	top: 35px;
	left: 490px;
	color: #14183E
}
.main_section_3_card1_div{
	position: absolute;
	width: 315px;
	height: 457px;
	left: 173px;
	top: 160px;
	background-image: url("images/main_card1_img.png");
    background-repeat: no-repeat;
    width: 314px;
    height: 457px;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    z-index: 1;
}
.main_section_3_card1_div:hover{
	top: 135px;
	cursor: pointer;
}
.main_section_3_card1_description{
	position: absolute;
	width: 315px;
	height: 130px;
	left: 1px;
	top: 327px;
	font-family: 'Roboto', sans-serif;
	line-height: 22.41px;
	color: #5E6282;
	background-color: white;
	z-index: 2;
	border-radius: 0px 0px 24px 24px
}
.main_section_3_card1_text1{
	position: absolute;
	width: 107px;
	height: 22px;
	left: 20px;
	top: 27px;
    font-size: 18px;
    font-weight: 500px;
}
.main_section_3_card1_text2{
	position: absolute;
	width: 60px;
	height: 22px;
	left: 230px;
	top: 28px;
	font-size: 18px;
	font-weight: 500px; 
}    
.main_section_3_card1_text3{
	position: absolute;
	width: 95px;
	height: 20px;
	left: 54px;
	top: 68px;
	font-size: 16px;
	font-weight: 500px;
	line-height: 19.92px 
}
.main_section_3_card1_div img{
	position: absolute;
	width: 16.25px;
	height: 16.25px;
	left: 21.87px;
	top: 69.87px;
}
.main_section_3_card2_div{
	position: absolute;
	width: 315px;
	height: 457px;
	top: 160px;
	left: 524px;
	box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 
	0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 
	0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 
	0px 20px 13px rgba(0, 0, 0, 0.01), 
	0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 
	0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
	border-radius: 24px;
	background-image: url(images/main_card2_img.PNG);
	z-index: 1
}
.main_section_3_card2_div:hover{
	top: 135px;
	cursor: pointer;
}
.main_section_3_card2_description{
	position: absolute;
	width: 100%;
	height: 130px;
	top: 327px;
	background-color: white;
	z-index: 2;
	font-family: 'Roboto', sans-serif;
	line-height: 22.41px;
	color: #5E6282;
	border-radius: 0px 0px 24px 24px
}
.main_section_3_card2_text1{
	position: absolute;
	width: 100px;
	height: 22px;
	left: 20px;
	top: 27px;
}
.main_section_3_card2_text2{
    position: absolute;
    width: 49px;
    height: 22px;
    left: 240px;
    top: 28px 
}
.main_section_3_card2_text3{
	position: absolute;
	width: 95px;
	height: 20px;
	left: 54px;
	top: 68px;
	font-size: 16px;
	font-weight: 500px;
	line-height: 19.92px 	
}
.main_section_3_card2_div img{
	position: absolute;
	width: 16.25px;
	height: 16.25px;
	left: 21.87px;
	top: 69.87px;
}
.main_section_3_card3_div{
	position: absolute;
	width: 315px;
	height: 457px;
	left: 900px;
	top: 160px;
	background-image: url(images/main_card3_img.png);
	box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 
	0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 
	0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 
	0px 20px 13px rgba(0, 0, 0, 0.01), 
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 
	0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
	border-radius: 24px;
	z-index: 1
}
.main_section_3_card3_div:hover{
	top: 135px;
	cursor: pointer;
}
.main_section_3_card3_description{
	position: absolute;
	width: 100%;
	height: 130px;
	top: 327px;
	background-color: white;
	z-index: 2;
	font-family: 'Roboto', sans-serif;
	line-height: 22.41px;
	color: #5E6282;	
	border-radius: 0px 0px 24px 24px
}
.main_section_3_card3_text1{
	position: absolute;
	width: 98px;
	height: 22px;
	left: 20px;
	top: 27px;
}
.main_section_3_card3_text2{
    position: absolute;
    width: 40px;
    height: 22px;
    left: 240px;
    top: 28px 
}
.main_section_3_card3_text3{
	position: absolute;
	width: 99px;
	height: 20px;
	left: 54px;
	top: 68px;
	font-size: 16px;
	font-weight: 500px;
	line-height: 19.92px 	
}
.main_section_3_card3_div img{
	position: absolute;
	width: 16.25px;
	height: 16.25px;
	left: 21.87px;
	top: 69.87px;
}
.main_section_3_card3_decore{
	position: absolute;
	width: 96px;
	height: 252px;
	left: 1179px;
	top: 318px;
}
.main_section_4{
	position: absolute;
	width: 1400px;
	height: 497px;
	top: 2367px
}
.main_section_4_heading{
	position: absolute;
	width: 126px;
	height: 27px;
	left: 189px;
	font-family: 'Roboto', sans-serif;
	font-weight: 600px;
	line-height: 27px;
	font-style: 18px;
	color: #5E6282
}
.main_section_4_title{
	position: absolute;
	width: 511px;
	height: 130px;
	left: 186px;
	top: 42px;
	font-family: 'Volkhov', sans-serif;
	font-weight: 700px;
	line-height: 64.5px;
	font-size: 50px;
	color: #14183E
}
.main_section_4_description{
	position: absolute;
	width: 395px;
	height: 289px;
	left: 186px;
	top: 203px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400px;
	line-height: 19.92px;
	font-size: 16px;
	color: #5E6282
}
.main_section_4_description_option1{
	position: absolute;
	width: 420px;
	height: 80px;
}
.main_section_4_description_option1:hover{
	cursor: pointer;
	color: black;
	font-weight: 700px;
}
.main_section_4_description_title1{
	position: absolute;
	width: 161px;
	height: 20px;
	left: 69px; 
	font-family: 'Open Sans', sans-serif;
}
.main_section_4_description_text1{
    position: absolute;
    width: 327px;
    height: 40px;
    top: 24px;
    left: 69px
}
.main_section_4_description_option2{
	position: absolute;
	width: 420px;
	height: 80px;
	top: 112px;
}
.main_section_4_description_option2:hover{
	cursor: pointer;
	color: black;
	font-weight: 700px;
}
.main_section_4_description_title2{
	position: absolute;
	width: 124px;
	height: 20px;
	left: 69px;
	font-family: 'Open Sans', sans-serif
}
.main_section_4_description_text2{
	position: absolute;
	width: 327px;
	height: 40px;
	top:24px;
	left: 69px;
}
.main_section_4_description_option3{
	position: absolute;
	width: 420px;
	height: 80px;
	top: 224px;
}
.main_section_4_description_option3:hover{
	cursor: pointer;
	color: black;
	font-weight: 700px;
}
.main_section_4_description_title3{
	position: absolute;
	width: 254px;
	height: 20px;
	left: 69px;
	font-family: 'Open Sans', sans-serif;
}
.main_section_4_description_text3{
	position: absolute;
	width: 327px;
	height: 40px;
	top: 25px;
	left: 69px
}
.main_section_4_description_rectangle1{
	position: absolute;
	width: 47px;
	height: 48px;
	border-radius: 13px;
	background-color: #F0BB1F
}
.main_section_4_description_rectangle1 img{
	position: absolute;
	width: 22px;
	height: 22px;
	left: 13px;
	top: 13px
}
.main_section_4_description_rectangle2{
	position: absolute;
	width: 47px;
	height: 48px;
	border-radius: 13px;
	background-color: #F15A2B;
}
.main_section_4_description_text2_vector1{
	position: absolute;
	left: 17.68px;
	top: 21.73px;
	width: 4.5px;
	height: 0.65px 
}
.main_section_4_description_text2_vector2{
	position: absolute;
	width: 4.86px;
	height: 4.86px;
	top: 17.82px;
	left: 28.7px;
}
.main_section_4_description_text2_vector3{
	position: absolute;
	width: 5.41px;
	height: 1.3px;
	top: 26.09px;
	left: 29.62px 
}
.main_section_4_description_text2_vector4{
	position: absolute;
	left: 12.97px;
	top: 23.82px;
	width: 22.05px;
	height: 1.3px;
}
.main_section_4_description_text2_vector5{
	position: absolute;
	left: 12.97px;
	top: 26.09px;
	width: 15.63px;
	height: 1.3px
}
.main_section_4_description_text2_vector6{
	position: absolute;
	width: 8.14px;
	height: 10.77px;
	left: 22.76px;
	top: 14.07px 
}
.main_section_4_description_text2_vector7{
	position: absolute;
	left: 19.68px;
	top: 30.63px;
	width: 15.35px;
	height: 1.3px;
}
.main_section_4_description_text2_vector8{
	position: absolute;
	left: 12.97px;
	top: 30.63px;
	width: 5.65px;
	height: 1.3px;
}
.main_section_4_description_text2_vector9{
	position: absolute;
	width: 22.05px;
	height: 1.3px;
	left: 12.97px;
	top: 28.36px
}
.main_section_4_description_rectangle3{
	position: absolute;
	width: 47px;
	height: 48px;
	background-color: #006380;
	border-radius: 13px;
}
.main_section_4_description_text3_vector1{
	position: absolute;
	width: 22.5px;
	height: 18.75px;
	left: 12.75px;
	top: 15.68px
}
.main_section_4_description_text3_vector2{
	position: absolute;
	width: 6.75px;
	height: 0.75px;
	left: 20.62px;
	top: 26.5px
}
.main_section_4_description_text3_vector3{
    position: absolute;
    width: 6.75px;
    height: 0.75px;
    top: 28px;
    left: 20.62px
} 
.main_section_4_description_text3_vector4{
    position: absolute;
    width: 3px;
    height: 3px;
    left: 15px;
    top: 26.12px
}
.main_section_4_description_text3_vector5{
	position: absolute;
	width: 3px;
    height: 3px;
    top: 26.12px;
    left: 30px
}
.main_section_4_description_text3_vector6{
	position: absolute;
	width: 2.25px;
	height: 0.75px;
	top: 20.88px;
	left: 22.88px
}
.main_section_4_card{
	position: absolute;
	top: 97px;
	left: 815px;
	width: 370px;
	height: 400px;
	font-weight: 500px;
	background-color: white;
	font-family: 'Roboto', sans-serif;
	color: #84829A;
	z-index: 2;
	border-radius: 26px;
	box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 
	0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 
	0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 
	0px 20px 13px rgba(0, 0, 0, 0.01), 
	0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 
	0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
	background-color: white
}
.main_section_4_card_img{
	position: absolute;
	width: 321px;
	height: 161px;
	top: 20px;
	left: 25px;
}
.main_section_4_card_title{
	position: absolute;
	width: 134px;
	height: 22px;
	left: 25px;
	top: 207px;
	color: black;
	font-size: 18px;
	line-height: 22.41px;
	font-weight: 500px
}
.main_section_4_card_text{
	position: absolute;
	width: 88px;
	height: 20px;
	left: 25px;
	top: 242px;
	font-size: 16px;
	line-height: 19.92px
}
.main_section_4_card_text_decoration{
	position: absolute;
	width: 0px;
	height: 16px;
	border: 1px solid #84829A;
	left: 116px;
	top: 243px
}
.main_section_4_card_text2{
	position: absolute;
	width: 138px;
	height: 20px;
	left: 129px;
    top: 242px;
    font-size: 16px;
    line-height: 19.92px;
    z-index: 1
}
.main_section_4_card_text3{
	position: absolute;
	width: 126px;
	height: 20px;
	left: 56px;
	top: 349px;
	font-size: 16px;
	line-height: 19.92px
}
.main_section_4_card_vector_wrapper{
	position: absolute;
	border-radius: 50%;
	background-color: #F5F5F5;
	width: 36px;
	height: 36px;
	left: 39.02px;
	top: 283px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main_section_4_card_vector_wrapper:hover{
    background-color: #CBC3E3;
    cursor: pointer;
}
.main_section_4_card_vector_p1{
    position: absolute;
    width: 13.95px;
    height: 14px;
}
.main_section_4_card_vector_p2{
	position: absolute;
	width: 10.86px;
	height: 10.66px
}
.main_section_4_card_vector2_wrapper{
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #F5F5F5;
    left: 86.02px;
    top: 283px
}
.main_section_4_card_vector2_wrapper:hover{
	background-color: #CBC3E3;
	cursor: pointer;
}
.main_section_4_card_vector2{
	position: absolute;
	width: 14px;
	height: 14px;
	left: 10px;
	top: 11px
}
.main_section_4_card_vector3_wrapper{
	position: absolute;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	left: 131.52px;
	top: 283px;
	background-color: #F5F5F5
}
.main_section_4_card_vector3_wrapper:hover{
	background-color: #CBC3E3;
	cursor: pointer;
}
.main_section_4_card_vector3_p1{
	position: absolute;
	width: 11.16px;
	height: 6.36px;
	top: 13.22px;
	right: 11.42px
}
.main_section_4_card_vector3_p2{
	position: absolute;
	width: 6.38px;
	height: 11.12px;
	right: 11.22px; 
	top: 13.66px;
}
.main_section_4_vector4_wrapper{
	position: absolute;
	width: 16px;
	height: 16px;
	left: 25px;
	bottom: 36px
}
.main_section_4_card_vector4_p1{
    position: absolute;   
}
.main_section_4_card_vector4_p2_1{
	position: absolute;
	width: 2.13px;
	height: 2.13px;
	left: 7.21px;
	top: 1.07px
}
.main_section_4_card_vector4_p2_2{
	position: absolute;
	width: 2.13px;
	height: 2.13px;
	top: 1.07px;
	left: 9.87px 
}
.main_section_4_card_vector4_p2_3{
	position: absolute;
	width: 2.13px;
	height: 2.13px;
    top: 3.73px;
    left: 9.87px
} 
.main_section_4_card_vector4_p2_4{
	position: absolute;
	width: 2.13px;
	height: 2.13px;
	left: 7.21px;
	top: 3.73px 
}
.main_section_4_card_vector4_p2_5{
	position: absolute;
	width: 2.13px;
	height: 2.13px;
	left: 9.87px;
	top: 6.4px 
}
.main_section_4_card_vector4_p2_6{
	position: absolute;
	width: 2.13px;
	height: 2.13px;
	left: 9.87px;
	top: 9.07px 
}
.main_section_4_card_vector4_p2_7{
	position: absolute;
	width: 2.13px;
	height: 2.13px;
	right: 10.67px;
	top: 7.47px 
}
.main_section_4_card_vector4_p2_8{
	position: absolute;
	width: 2.13px;
	height: 2.13px;
	right: 10.67px;
	top: 10.13px  
}
.main_section_4_card_vector4_p2_9{
	position: absolute;
	width: 2.13px;
	height: 2.13px;
	right: 10.67px;
	top: 12.8px 
}
.main_section_4_card_vector4_p2_10{
	position: absolute;
	width: 2.13px;
	height: 2.13px;
	top: 7.47px;
    left: 5.87px
}
.main_section_4_card_vector4_p2_11{
	position: absolute;
	width: 2.13px;
	height: 2.13px;
	top: 10.13px;
	left: 5.87px 
}
.main_section_4_card_vector4_p2_12{
	position: absolute;
	width: 2.13px;
	height: 2.13px;
	top: 12.8px;
	left: 5.87px 
}
.main_section_4_card2{
	position: absolute;
	width: 263px;
	height: 129px;
	left: 1031px;
	top: 298px;
	border-radius: 18px;
	box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 
	0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 
	0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 
	0px 20px 13px rgba(0, 0, 0, 0.01), 
	0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 
	0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
	z-index: 2;
	font-family: 'Roboto', sans-serif;
	font-weight: 500px;
	background-color: white;
}
.main_section_4_card2_image_eclipse_wrapper{
	position: absolute;
	width: 74px;
	height: 66px;
}
.main_section_4_card2_image_eclipse{
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	left: 13px;
	top: 1px;
	background-image: url(images/main_heading3_card2_img.png);
}
.main_section_4_card2_text1{
	position: absolute;
	width: 58px;
	height: 17px;
	left: 82px;
	top: 16px;
	font-size: 14px;
	line-height: 17.43px
}
.main_section_4_card2_title{
	position: absolute;
	width: 107px;
	height: 22px;
	left: 81px;
	top: 39px;
	font-size: 18px;
	line-height: 22.41px;
	color: black;
}
.main_section_4_card2_text2{
	position: absolute;
	color: #8A79DF;
	width: 26px;
	height: 17px;
	font-size: 14px;
	line-height: 17.43px;
	left: 80px;
	top: 75px
}
.main_section_4_card2_text3{
	position: absolute;
	width: 76px;
	height: 17px;
	left: 108px;
    top:75px;
    font-size: 14px;
    line-height: 17.43px;
    color: black 
}
.main_section_4_card2_rectangle1{
	position: absolute;
	width: 156px;
	height: 5px;
	left: 82px;
	top: 102px;
	z-index: -1;
	background-color: #F5F5F5;
	border-radius: 30px;
}
.main_section_4_card2_rectangle2{
	position: absolute;
	width: 73px;
	height: 5px;
	top: 102px;
	left: 82px;
	border-radius: 30px;
	background-color: #8A79DF
}
.main_section_4_card_vector5{
	position: absolute;
	left: 303px;
	top: 353.71px;
}
.main_section_4_card_vector5:hover{
	cursor: pointer;
}
.main_section_4_card_vector5:active{
	background-color: blue
}
.main_section_4_cards_decoration{
	position: absolute;
	left: 869px;
	top: 20px;
	width: 354px;
	height: 367px;
	border-radius: 50%;
	opacity: 40%;
	filter: blur(150px);
	background-color: #59B1E6;
	z-index: -5
}
.main_section_5{
	position: absolute;
	width: 1400px;
	height: 356px;
	top: 3050px
}
.main_section_5_title{
	position: absolute;
	width: 128px;
	height: 27px;
	left: 186px;
	top: 9px;
	font-family: 'Roboto', sans-serif;
	font-weight: 600px;
	font-size: 18px;
	line-height: 27px;
	color: #5E6282
}
.main_section_5_heading{
	position: absolute;
	width: 409px;
	height: 130px;
	top: 44px;
	left: 186px;
	font-family: 'Volkhov', sans-serif;
	font-size: 50px;
	font-weight: 700px;
	line-height: 64.5px;
	color: #14183E 
}
.main_section_5_decore{
	position: absolute;
	left: 186px;
	top: 256px;
	width: 87px;
	height: 12px;
}
.main_section_5_decore_p1{
	position: absolute;
	width: 12px;
	height: 12px;
	background-color: #39425D;
	border-radius: 50%
}
.main_section_5_decore_p2{
	position: absolute;
	width: 12px;
	height: 12px;
	left: 38px;
	background-color: #E5E5E5;
	border-radius: 50%
}
.main_section_5_decore_p3{
	position: absolute;
	width: 12px;
	height: 12px;
	left: 75px;
	background-color: #E5E5E5;
	border-radius: 50%;
}
.main_section_5_card{
	position: absolute;
	width: 504px;
	height: 245px;
	left: 719px;
	top: 34px;
	box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 
	0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 
	0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 
	0px 20px 13px rgba(0, 0, 0, 0.01), 
	0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 
	0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
	border-radius: 10px;
	color: #5E6282;
	font-family: 'Roboto', sans-serif
}
.main_section_5_card1_text1{
	position: absolute;
	width: 402px;
	height: 96px;
	left: 34px;
	top: 28px;
	font-weight: 500px;
	line-height: 32px 
}
.main_section_5_card1_text2{
    position: absolute;
    left: 34px;
    top: 158px;
    width: 101px;
    height: 27px;
    font-size: 18px;
    font-weight: 600px;
    line-height: 27px
}
.main_section_5_card1_text3{
	position: absolute;
	left: 34px;
	top: 190px;
	width: 116px;
	height: 21px;
	font-size: 14px;
	font-weight: 500px;
	line-height: 21px
}
.main_section_5_card1_img_wrapper{
	position: absolute;
	width: 68px;
	height: 68px;
	border-radius: 50%;
	left: -34px;
	top: -34px;
    background-image: url(images/main_heading4_card1_image.png);
}
.main_section_5_card2{
	position: absolute;
	width: 502px;
	height: 232px;
	left: 769px;
	top: 124px;
	font-family: 'Roboto', sans-serif;
	color: #5E6282;
	border-radius: 10px;
    box-shadow:0px 100px 80px rgba(0, 0, 0, 0.02), 
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 
    0px 20px 13px rgba(0, 0, 0, 0.01), 
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481)
}
.main_section_5_card2_text1{
	position: absolute;
	width: 127px;
	height: 27px;
	left: 34px;
	top: 156px;
	font-size: 18px;
	font-weight: 600px;
	line-height: 27px
}
.main_section_5_card2_text2{
	position: absolute;
	width: 127px;
	height: 21px;
	left: 34px;
	top: 189px;
	font-size: 14px;
	line-height: 21px;
	font-weight: 500px
}
.main_logos{
	position: absolute;
	width: 1280px;
	height: 162px;
	top: 3500px;
	display: flex;
	justify-content: center;
}
.main_logos_logo1{
	position: absolute;
	width: 130px;
	height: 130px;
	top: 16px;
	left: 110px;
}
.main_logos_logo1:hover{
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 
	0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 
	0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 
	0px 20px 13px rgba(0, 0, 0, 0.01), 
	0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 
	0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
.main_logos_logo2{
	position: absolute;
	width: 172.86px;
	height: 110px;
	left: 317px;
	top: 27px;
}
.main_logos_logo2:hover{
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 
	0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 
	0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 
	0px 20px 13px rgba(0, 0, 0, 0.01), 
	0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 
	0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
.main_logos_logo3_wrapper{
	position: absolute;
	width: 241px;
	height: 86px;
	left: 540px;
	top: 42px;
	background-image: url(images/main_logos_logo3.png);
	background-repeat: no-repeat;
	background-size: 162px, 162px;
	background-position: center;
}
.main_logos_logo3_wrapper:hover{
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 
	0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 
	0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 
	0px 20px 13px rgba(0, 0, 0, 0.01), 
	0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 
	0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
.main_logos_logo4:hover{
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 
	0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 
	0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 
	0px 20px 13px rgba(0, 0, 0, 0.01), 
	0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 
	0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
.main_logos_logo4{
	position: absolute;
	width: 166px;
	height: 35px;
	left: 828px;
	top: 67px
}
.main_logos_logo5:hover{
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 
	0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 
	0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 
	0px 20px 13px rgba(0, 0, 0, 0.01), 
	0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 
	0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
.main_logos_logo5{
	position: absolute;
	width: 99px;
	height: 24px;
	left: 1100px;
	top: 71px
}
.main_subscribe_section{
	position: absolute;
	width: 1280px;
	height: 490px;
	top: 3800px;
}
.main_subscribe_section_send_button_wrapper{
	position: absolute;
	width: 70px;
	height: 70px;
	right: 3px;
	border-radius: 50%;
	background: linear-gradient(201.65deg, #747DEF 10.27%, #5E3BE1 100%);
}
.main_subscribe_section_vector_p1{
	position: absolute;
	width: 13.24px;
	height: 3px;
	right: 31.5px;
	top: 35px;
	transform: rotate(-20deg);
	z-index: 2
}
.main_subscribe_section_vector_p2{
	position: absolute;
	width: 13.24px;
	height: 3px;
	top: 34px;
	right: 31.5px;
	transform: rotate(-20deg);
	z-index: 2 
}
.main_subscribe_section_vector_p3{
	position: absolute;
	width: 34.77px;
	height: 30px;
	top: 22px;
	right: 17px;
	z-index: 1
}
.main_subscribe_section_text{
	position: absolute;
	width: 859px;
	height: 108px;
	left: 243px;
	top: 92px;
	font-family: 'Roboto', sans-serif; 
	font-size: 33px;
	font-weight: 700px; 
	line-height: 54px;
	color: #5E6282;
	text-align: center;
}
.main_subscribe_section_button{
    position: absolute;
    width: 180px;
    height: 68px;
    left: 784px;
    top: 274px;
    background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 600px;
    line-height: 23.15px;
    border-radius: 10px;
    border: none;
    z-index: 2
}
.main_subscribe_section_button:hover{
	cursor: pointer;
}
.main_subscribe_section_button:active{
	width: 160px;
	height: 63px;
}
.main_subscribe_section_rectangle1{
	position: absolute;
	width: 421px;
	height: 68px;
	left: 339px;
	top: 274px;
	border-radius: 10px;
	color: white
}
.main_subscribe_section_text2{
	position: absolute;
	width: 74px;
	height: 17px;
	left: 66px;
	top: 25px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400px;
	line-height: 17.07px;
	color: #39425D 
}
.main_subscribe_section_rectangle2{
	position: absolute;
	top: 25px;
	left: 31px; 
	width: 21px;
	height: 18px;
	border: 1px solid #39425D;
	border-radius: 5px;
}
.main_subscribe_section_rectangle2 img{
	position: absolute;
	width: 19px;
	height: 9px;
	top: 1px;
	left: 0.5px
}
.main_subscribe_section_rectangle3{
	position: absolute;
	left: 87px;
	top: 13px;
	width: 1170px;
	height: 407px;
	background-color:#DFD7F9;
	opacity: 20%; 
	border-radius: 20px 0px 0px 0px;
	z-index: -5
}
.main_subscribe_section_background_decores_group{
	position: absolute;
	width: 1254px;
	height: 407px;
	top: 13px;
	overflow: hidden;
}
.main_subscribe_section_background_decore1{
	position: absolute;
	top: 46px;
	width: 361px;
	height: 480px;
	opacity: 10%
}
.main_subscribe_section_background_decore1_rectangle{
	position: absolute;
	left: 130.32px;
	top: 85.73px;
	width: 389.45px;
	height: 397.19px
}
.main_subscribe_section_background_decore1_eclipse1{
    position: absolute;
    left: 8.29px;
    border-radius: 50%;
    border: 1px solid #6246E5;
    width: 389.45px;
    height: 388.9px
}
.main_subscribe_section_background_decore1_eclipse2{
	position: absolute;
	left: 8.29px;
	top: 30.72px;
	border-radius: 50%;
	border: 1px solid #6246E5;
	width: 354.47px;
	height: 354.07px
}
.main_subscribe_section_background_decore1_eclipse3{
	position: absolute;
	top: 49.82px;
	left: 4.15px;
	width: 332.15px;
	height: 331.68px;
	border: 1px solid #6246E5;
	border-radius: 50%
}
.main_subscribe_section_background_decore1_eclipse4{
	position: absolute;
	top: 69.75px;
	width: 308.9px;
	height: 308.46px;
	border-radius: 50%;
	border: 1px solid #6246E5
}
.main_subscribe_section_background_decore1_eclipse5{
	position: absolute;
	top: 91.34px;
	left: 2.49px;
	width: 282.33px;
	height: 281.93px;
	border: 1px solid #6246E5;
	border-radius: 50%
}
.main_subscribe_section_background_decore1_eclipse6{
	position: absolute;
	top: 116.25px;
	left: 4.15px;
	width: 252.44px;
	height: 252.08px;
	border: 1px solid #6246E5;
	border-radius: 50%
}
.main_subscribe_section_background_decore2{
	position: absolute;
	width: 264px;
	height: 351.52px;
	left: 993px;
	top: 13px;
	opacity: 10%
}
.main_subscribe_section_background_decore2_rectangle{
	position: absolute;
	left: 61.7px;
	top: -7px;
	width: 284.8px;
	height: 290.88px
}
.main_subscribe_section_background_decore2_eclipse1{
	position: absolute;
	bottom: 6.07px;
	width: 284.8px;
	height: 284.8px;
	border-radius: 50%;
	border: 1px solid #6246E5;
}
.main_subscribe_section_background_decore2_eclipse2{
	position: absolute;
	width: 259.3px;
	height: 259.3px;
	top: 25.5px;
	left: 22.47px;
	border-radius: 50%;
	border: 1px solid #6246E5;
}
.main_subscribe_section_background_decore2_eclipse3{
	position: absolute;
	width: 242.9px;
	height: 242.9px;
	top: 39.47px;
	left: 28.53px;
	border-radius: 50%;
	border: 1px solid #6246E5;
}
.main_subscribe_section_background_decore2_eclipse4{
	position: absolute;
	width: 225.9px;
	height: 225.9px;
	top: 64.98px;
	left: 51.01px;
	border-radius: 50%;
	border: 1px solid #6246E5;
}
.main_subscribe_section_background_decore2_eclipse5{
	position: absolute;
    width: 206.47px;
    height: 206.47px;
    top: 82.59px;
    left: 66.8px;
	border-radius: 50%;
	border: 1px solid #6246E5;
}
.main_subscribe_section_background_decore2_eclipse6{
	position: absolute;
	width: 184.61px;
	height: 184.61px;
	top: 103.23px;
	left: 85.02px;
	border-radius: 50%;
	border: 1px solid #6246E5;
}
.main_last_decoration{
	position: absolute;
	width: 153px;
	height: 166px;
	right: -25px;
	bottom: -20px;
	z-index: 5
}
.footer{
	position: absolute;
	display: flex;
	justify-content: center;
	top: 4450px;
	width: 100%;
	height: 354px;
	overflow: hidden;
}
.footer_section{
	position: absolute;
	width: 1400px;
	height: 354px;
    overflow: hidden;
}
.footer_logo{
	position: absolute;
	width: 152px;
	height: 66px;
	color: #181E4B;
	font-family: 'Roboto', sans-serif;
	font-weight: 700px;
	font-style: bold;
	font-size: 44px;
	line-height: 66px;
}
.footer_text1{
	position: absolute;
	width: 207px;
	height: 48px;
	top: 85px;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 500px;
	line-height: 16.19px;
	color: #5E6282
}
.footer_navs{
	position: absolute;
   width: 478px;
   height: 153px;
   top: 21px;
   left: 290px;
}
.footer_nav1_title{
	position: absolute;
	width: 108px;
	height: 26px;
	color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 800px;
    font-style: bold;
    line-height: 16.15px;
    left: 2px;
}
.footer_nav1{
	position: absolute;
	left: 2px;
	top: 58px;
	width: 108px;
	height: 91px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 22.41px;
	font-weight: 500px;
	color: #5E6282;
}
.footer_nav1_li1{
	position: absolute;
	width: 55px;
	height: 22px;
	left: 0px;
}
.footer_nav1_li2{
	position: absolute;
	width: 72px;
	height: 22px;
	top: 34px;
	left: 0px
}
.footer_nav1_li3{
	position: absolute;
	width: 61px;
	height: 22px;
    top: 68px;
    left: 0px
}
.footer_nav2_title{
	position: absolute;
	width: 88px;
	height: 26px;
	left: 181px;
	font-family: 'Roboto', sans-serif;
	font-size: 21px;
	font-weight: 800px;
	line-height: 16.15px;
	font-style: bold;
	color: black;
}
.footer_nav2{
	position: absolute;
	width: 89px;
	height: 93px;
	top: 58px;
	left: 180px;
	font-family: 'Roboto', sans-serif;
    font-size: 18px;
	line-height: 22.41px;
	font-weight: 500px;
	color: #5E6282;
}
.footer_nav2_li1{
	position: absolute;
	width: 86px;
	height: 22px;
}
.footer_nav2_li2{
	position: absolute;
	width: 48px;
	height: 22px;
	top: 36px;
}
.footer_nav2_li3{
	position: absolute;
	width: 74px;
	height: 22px;
	top: 71px
}
.footer_nav3_title{
	position: absolute;
	width: 88px;
	height: 26px;
	left: 360px;
	font-family: 'Roboto', sans-serif;
	font-size: 21px;
	font-weight: 800px;
	line-height: 16.15px;
	font-style: bold;
	color: black;
}
.footer_nav3{
	position: absolute;
	width: 114px;
	height: 93px;
	top: 60px;
	left: 360px;
	font-family: 'Roboto', sans-serif;
    font-size: 18px;
	line-height: 22.41px;
	font-weight: 500px;
	color: #5E6282;
}
.footer_nav3_li1{
	position: absolute;
	width: 95px;
	height: 22px
}
.footer_nav3_li2{
	position: absolute;
	width: 57px;
	height: 22px;
	top: 36px
}
.footer_nav3_li3{
	position: absolute;
	width: 114px;
	height: 22px;
	top: 71px
}
.footer_outbound{
	position: absolute;
	width: 214px;
	height: 147px;
	left: 846px;
	top: 21.5px;
}
.footer_outbound_discover{
	position: absolute;
	width: 214px;
	height: 76px;
	top: 72px
}
.footer_outbound_discover_text{
	position: absolute;
	width: 173px;
	height: 25px;
	left: 2px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500px;
	line-height: 24.9px;
	color: #5E6282
}
.footer_outbound_discover_rectangle1{
	position: absolute;
	width: 107px;
	height: 35px;
	top: 41px;
	border-radius: 17.5px;
	background-color: black
}
.footer_outbound_discover_rectangle1:hover{
	cursor: pointer;
	background-color: grey
}
.footer_outbound_discover_rectangle1_vector1{
	position: absolute;
	width: 20px;
	height: 20px;
	left: 17px;
	top: 7px;
}
.footer_outbound_discover_rectangle1_vector2{
	position: absolute;
	width: 53.64px;
	height: 14.8px;
	left: 42.24px;
	top: 9.29px;
}
.footer_outbound_discover_rectangle2{
	position: absolute;
	width: 100px;
	height: 35px;
	top: 41px;
	left: 114px;
	border-radius: 17.5px;
	background-color: black
}
.footer_outbound_discover_rectangle2:hover{
	cursor: pointer;
	background-color: grey
}
.footer_outbound_discover_rectangle2_vector1{
	position: absolute;
	top: 8px;
	right: 69.44px;
	width: 13.12px;
	height: 16px;
}
.footer_outbound_discover_rectangle2_vector2{
	position: absolute;
	width: 54.49px;
	height: 17.38px;
	left: 36px;
	top: 8.62px
}
.footer_outbound_social{
	position: absolute;
	width: 177px;
	height: 45px;
}
.footer_outbound_social_vector1_wrapper{
	position: absolute;
	width: 41px;
	height: 41px;
	bottom: 2px;
	display: flex;
    align-items: center;
    justify-content: center;
	border-radius: 50%;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.footer_outbound_social_vector1_wrapper:hover{
	cursor: pointer;
	background-color: grey
}
.footer_outbound_social_vector1{
	position: absolute;
	width: 5.86px;
	height: 12.69px
}
.footer_outbound_social_vector2_wrapper{
	position: absolute;
	border-radius: 50%;
	width: 45px;
	height: 45px;
    left: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: conic-gradient(from 180deg at 50% 50%, #B8D2F1 0deg, #F289AA 60deg, 
    	#C68BF0 106.09deg, #D164DA 153.75deg, #C963E8 221.25deg, #BFC2E8 258.75deg, 
    	#FFC999 288.75deg, #D0D8C9 315deg, #BAD0F1 334.13deg, #CED8CB 358.97deg, 
    	rgba(255, 255, 255, 0) 360deg);
}
.footer_outbound_social_vector2_wrapper:hover{
	cursor: pointer;
}
.footer_outbound_social_vector2{
	position: absolute;
	width: 16px;
	height: 16px
}
.footer_outbound_social_vector3_wrapper{
	position: absolute;
	width: 41px;
	height: 41px;
	top: 2px;
	right: 0px;
	display: flex;
    align-items: center;
    justify-content: center;
	border-radius: 50%;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);	
}
.footer_outbound_social_vector3_wrapper:hover{
	cursor: pointer;
	background-color: grey
}
.footer_outbound_social_vector3{
	position: absolute;
	width: 16px;
	height: 13px;
}
.footer_text2{
    position: absolute;
    width: 203px;
    height: 17px;
    left: 430px;
    top: 258px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500px;
    line-height: 17.43px;
    color: #5E6282
}
.footer_decoration{
	position: absolute;
	top: 137px;
	left: 1139px;
	border-radius: 50%;
	width: 478.94px;
	height: 496.86px;
	background-color: #D5AEE4;
	opacity: 80%;
	filter: blur(150px);
	transform: matrix(-1, 0, 0, 1, 0, 0); 
}
                                /* Geolab Junior - Front end HTML, CSS final project. Aleksandre Jelia*/
